<?php
$this->redirect('delete', array('module'=>'chart', 'controller'=>'index', 'action'=>'index'));?>
<?php echo $this->displayMessages() ?>
<?php if (is_object($this->chart)) : ?>
Are you sure you want to delete this chart?
<form method="post"><input type="submit" value="Delete Chart"></form>
<?php endif;?>
