<?php if ($this->isAllowed('chart','index','create')) :?>
    <a href="<?php echo $this->url(array('module'=>'chart', 'controller'=>'index', 'action'=>'create'))?>">Create Chart</a>
<?php endif;?>
<ul>
    <?php foreach ($this->charts as $chart) :?>
    <li>
        <?php if ($this->isAllowed('chart','index','update', array('id'=>$chart->getId()))) : ?>
            <a href="<?php echo $this->url(array('module'=>'chart', 'controller'=>'index', 'action'=>'update', 'id'=>$chart->getId()))?>">Edit</a>
        <?php endif?>
        <?php if ($this->isAllowed('chart','index','delete', array('id'=>$chart->getId()))) : ?>
            <a href="<?php echo $this->url(array('module'=>'chart', 'controller'=>'index', 'action'=>'delete', 'id'=>$chart->getId()))?>">Delete</a>
        <?php endif?>
        <a href="<?php echo $this->url(array('module'=>'chart','controller'=>'index','action'=>'read','id'=>$chart->getId()))?>"><?php echo date('r',$chart->getDate())?></a>
    </li>
    <?php endforeach;?>
</ul>
