<table width="100%" border="1">
    <thead><tr><th>When</th><th>Who</th><th>Type</th><th>What</th><th>Published</th><th>&nbsp;</th></tr></thead>
    <tbody>
<?php foreach ($this->records as $record) : ?>
        <?php
        switch ($record->getType()) {
            case 'User_Model_User':
                echo $this->partial('partial/user-row.phtml', array('record'=>$record));
                break;
            case 'News_Model_Article':
                echo $this->partial('partial/news-row.phtml', array('record'=>$record));
                break;
        }


        ?>
<?php endforeach; ?>
</tbody>
</table>

<?php echo $this->paginationControl($this->records,
 	                                    'Sliding',
	                                    'partial/paginator.phtml'); ?>