<div id="record-id"><?php echo $this->record->getId()?></div>
<div id="record-date"><?php echo date('M j G:i:s Y', $this->record->getDate())?></div>
<div id="record-userid"><?php echo $this->record->getUserid()?></div>
<div id="record-type"><?php echo $this->record->getType()?></div>
<div id="record-itemid"><?php echo $this->record->getItemid()?></div>
<div id="record-itemtitle"><?php echo $this->record->getItem()->getTitle()?></div>

<div id="record-action"><?php echo $this->record->getAction()?></div>
<div id="record-useremail"><?php echo $this->record->getUser()->getEmail()?></div>
