<?php
/**
 * McCormack & Morrison Gossip 2 CMS System
 *
 * @category Mcmr
 * @package Mcmr_Mail
 * @copyright  Copyright (c) 2010 McCormack & Morrison. (http://www.mccormackmorrison.com/)
 * @version    $Id: devemail_floodalert.phtml 659 2010-05-18 16:09:12Z leigh $
 */

/**
 * Template file for developer email alert. This is triggered if the number of emails
 * sent exceeds the flood limit.
 *
 * @category Mcmr
 * @package Mcmr_Mail
 */
?>
The email flood limit was tripped. The following emails were due to be sent:
<table><tr><th>Subject</th><th>Recipients</th></tr>
    <?php foreach ($this->emails as $email) :?>
    <tr><td><?php echo $email['subject']?></td><td>
            <ul>
                    <?php foreach ($email['recipients'] as $recipient) :?>
                <li><?php echo $recipient ?></li>
                    <?php endforeach; ?>
            </ul>
        </td></tr>
    <?php endforeach; ?>
</table>
