<?php
/**
 * McCormack & Morrison Gossip 2 CMS System
 *
 * @category Mcmr
 * @package Mcmr_Mail
 * @copyright  Copyright (c) 2010 McCormack & Morrison. (http://www.mccormackmorrison.com/)
 * @version    $Id: devemail_footer.phtml 2060 2011-01-14 16:29:17Z leigh $
 */

/**
 * Template file for developer email alert. This template is appended to the bottom
 * of system emails to alert the developer who the original recipient is.
 *
 * @category Mcmr
 * @package Mcmr_Mail
 */
?>

<div style="background-color: #DDD;">
Email captured. Original recipients are:
<ul>
<?php foreach ($this->recipients as $recipient) : ?>
<li><?php echo $recipient; ?></li>
<?php endforeach; ?>
</ul>
</div>
