<?php if ($this->isAllowed('company','index','create')) : ?>
<p>
<a href="<?php echo $this->url(array('module'=> 'company', 'controller'=>'index', 'action'=>'create'))?>">Create Company</a>
</p>
<?php endif; ?>
<ul>
    <?php foreach ($this->companies as $company) : ?>
        <li>
            <?php if ($this->isAllowed('company','index','update',array('id'=>$company->getId()))) : ?>
            <a href="<?php echo $this->url(array('module'=>'company','controller'=>'index','action'=>'update','id'=>$company->getId()))?>">Update</a>
            <?php endif;?>
            <?php if ($this->isAllowed('company','index','delete',array('id'=>$company->getId()))) : ?>
            <a href="<?php echo $this->url(array('module'=>'company','controller'=>'index','action'=>'delete','id'=>$company->getId()))?>">Delete</a>
            <?php endif;?>
            <a href="<?php echo $this->url(array('module'=>'company','controller'=>'index','action'=>'read','id'=>$company->getId()))?>"><?php echo $company->getTitle()?></a>
        </li>
    <?php endforeach; ?>
</ul>
