<div id="company-title"><?php echo $this->company->getTitle()?></div>
<div id="type-title"><?php echo $this->company->getType()->getTitle()?></div>
<div id="company-description"><?php echo $this->company->getDescription()?></div>
<div id="company-website"><?php echo $this->company->getAttribute('website')?></div>
