<?php if ($this->error) : ?>
<div id="error">ERROR</div>
<?php else:?>
<div id="error">NO ERROR</div>
<?php endif;?>
<div id="company-title"><?php echo $this->company->getTitle()?></div>
<div id="company-website"><?php echo $this->company->getAttribute('website')?></div>
<?php echo $this->displayMessages()?>
<?php echo $this->form?>
