<?php echo $this->displayMessages()?>
<?php if ($this->confirmed) : ?>
Your email address has been confirmed
<?php else: ?>
<form method="post" action="/user/index/confirm">
    Email Address: <input type="text" value="" name="email"> <input type="submit" value="Resend Confirmation">
</form>
<?php endif;?>