<?php
$roles = array(
    'admin'=>'Admin',
    'editor'=>'Editor',
    'publisher'=>'Publisher',
    'retailer'=>'Retailer',
    'developer'=>'Developer',
    'media'=>'Media',
    'services'=>'Services',
    'student'=>'Student',
    'gamer'=>'Elite Gamer',
    'userguest'=>'User',
    'mcmr'=>'McCormack & Morrison',
    );
?>
<h2>Account Summary (<?php echo $this->userCount(array('state'=>'registered'))?>)</h2>
<table cellpadding="0" cellspacing="0" border="0" width="80%">
    <tr>
        <th colspan="3">Total Database</th>
        <th colspan="2">Intent Emails</th>
        <th colspan="2">3rd Party Emails</th>
    </tr>
    <?php foreach ($roles as $role=>$title) : ?>
        <tr align="left">
            <th><?php echo $title?></th>
            <td>
                <?php echo $this->userCount(array('role'=>$role, 'state'=>'registered'))?>
            </td>
            <td>
                <form method="post">
                    <input type="hidden" name="format" value="csv">
                    <input type="hidden" name="conditions[role]" value="<?php echo $role;?>">
                    <input type="hidden" name="conditions[state]" value="registered">
                    <input type="submit" value="CSV">
                </form>
            </td>
            <td>
                <?php echo $this->userCount(array('role'=>$role, 'attr_emailintent'=>'1', 'state'=>'registered'))?>
            </td>
            <td>
                <form method="post">
                    <input type="hidden" name="format" value="csv">
                    <input type="hidden" name="conditions[role]" value="<?php echo $role;?>">
                    <input type="hidden" name="conditions[attr_emailintent]" value="1">
                    <input type="hidden" name="conditions[state]" value="registered">
                    <input type="submit" value="CSV">
                </form>
            </td>
            <td>
                <?php echo $this->userCount(array('role'=>$role, 'attr_emailthird'=>'1', 'state'=>'registered'))?>
            </td>
            <td>
                <form method="post">
                    <input type="hidden" name="format" value="csv">
                    <input type="hidden" name="conditions[role]" value="<?php echo $role;?>">
                    <input type="hidden" name="conditions[attr_emailthird]" value="1">
                    <input type="hidden" name="conditions[state]" value="registered">
                    <input type="submit" value="CSV">
                </form>
            </td>
        </tr>
    <?php endforeach;?>
        
    <tr>
        <th>Total</th>
        <td>
            <?php echo $this->userCount(array('state'=>'registered'))?>
        </td>
        <td>
            <form method="post">
                <input type="hidden" name="format" value="csv">
                <input type="hidden" name="conditions[state]" value="registered">
                <input type="submit" value="CSV">
            </form>
        </td>
        <td>
            <?php echo $this->userCount(array('attr_emailintent'=>'1', 'state'=>'registered'))?>
        </td>
        <td>
            <form method="post">
                <input type="hidden" name="format" value="csv">
                <input type="hidden" name="conditions[attr_emailintent]" value="1">
                <input type="hidden" name="conditions[state]" value="registered">
                <input type="submit" value="CSV">
            </form>
        </td>
        <td>
            <?php echo $this->userCount(array('attr_emailthird'=>'1', 'state'=>'registered'))?>
        </td>
        <td>
            <form method="post">
                <input type="hidden" name="format" value="csv">
                <input type="hidden" name="conditions[attr_emailthird]" value="1">
                <input type="hidden" name="conditions[state]" value="registered">
                <input type="submit" value="CSV">
            </form>
        </td>
    </tr>
</table>
