<?php if ($this->isAllowed('user', 'index', 'create')) :?>
    <a href="<?php echo $this->url(array('module' => 'user', 'controller' => 'index', 'action' => 'create'), null, true)?>">Create User</a>
<?php endif; ?>
<table>
    <thead><tr><th field="email">Email</th><th field="role">Account Type</th><th field="state">Account Status</th></tr></thead>
    <tbody>
        <?php foreach ($this->users as $user) : ?>
        <tr>
            <td>
                <?php if ($this->isAllowed('user', 'index', 'update', array('id'=>$user->getId()))) : ?>
                    <a href="<?php echo $this->url(array('module' => 'user', 'controller'=>'index','action'=>'update','id'=>$user->getId()))?>">Edit</a>
                <?php endif;?>
                <?php if ($this->isAllowed('user', 'index', 'delete', array('id'=>$user->getId()))) : ?>
                    <a href="<?php echo $this->url(array('module' => 'user', 'controller'=>'index','action'=>'delete','id'=>$user->getId()))?>">Delete</a>
                <?php endif;?>

                <a href="<?php echo $this->url(array('module' => 'user', 'controller'=>'index','action'=>'read','id'=>$user->getId()))?>"><?php echo $this->escape($user->getEmail())?></a>
            </td>
            <td>
                <?php echo $this->escape($user->getRole())?>
            </td>
            <td>
                <?php echo $user->getState()?>
            </td>
        </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<?php ?>

<?php echo $this->paginationControl($this->users, 
 	                                    'Sliding', 
	                                    'partial/paginator.phtml'); ?>
