<?php if (null !== $this->user) : ?>
<?php echo $this->displayMessages()?><br>
<p>
    A confirmation email has been sent to <?php echo $this->user->getEmail();?>
</p>
<?php else: ?>
    <?php echo $this->displayMessages()?>
<a href="<?php echo $this->url(array('module'=>'user','controller'=>'index','action'=>'confirm'))?>">Resend Email confirmation</a>
    <?=$this->form?>
<?php endif; ?>
