<div id="user-email"><?php echo $this->user->getEmail()?></div>
<div id="user-name"><?php echo $this->user->getAttribute('forename')?> <?php echo $this->user->getAttribute('surname')?></div>

<?php echo $this->displayMessages()?>
<?php echo $this->form?>
