<?php if ($this->error) : ?>
<div id="error">ERROR</div>
<?php else:?>
<div id="error">NO ERROR</div>
<?php endif;?>
<?php
$this->redirect('create', array('module'=>'game', 'controller'=>'index', 'action'=>'update', 'params'=> array('id'=>'model')));?>
<?php echo $this->form?>