<?php if ($this->isAllowed('game', 'index', 'create')) :?>
    <a href="<?php echo $this->url(array('module' => 'game', 'controller' => 'index', 'action' => 'create'), null, true)?>">Create Game</a>
<?php endif; ?>
<ul>
<?php foreach ($this->games as $game) : ?>
    <li>
<?php if ($this->isAllowed('game', 'index', 'update')) :?>
    <a href="<?php echo $this->url(array('module' => 'game', 'controller' => 'index', 'action' => 'update', 'id'=>$game->getId()), null, true)?>">Update</a>
<?php endif; ?>
<?php if ($this->isAllowed('game', 'index', 'delete')) :?>
    <a href="<?php echo $this->url(array('module' => 'game', 'controller' => 'index', 'action' => 'delete', 'id'=>$game->getId()), null, true)?>">Delete</a>
<?php endif; ?>
        <a href="<?php echo $this->url(array('module'=>'game','controller'=>'index','action'=>'read', 'id'=>$game->getId()))?>"><?php echo $game->getTitle() ?></a>
    </li>
<?php endforeach; ?>
</ul>
