<div id="game-title"><?php echo $this->game->getTitle()?></div>
<div id="game-description"><?php echo $this->game->getDescription()?></div>
<div id="game-genre"><?php echo $this->game->getGenre()->getTitle()?></div>
<div id="game-website"><?php echo $this->game->getWebsite()?></div>

<?php $platforms = $this->game->getPlatformModels();?>
<?php foreach ($platforms as $platform) :?>
    <div id="game-platform-<?php echo $platform->getId()?>"><?php echo $platform->getTitle()?></div>
<?php endforeach;?>
<?php if ($this->error) : ?>
<div id="error">ERROR</div>
<?php else:?>
<div id="error">NO ERROR</div>
<?php endif;?>
<?php echo $this->form?>