<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <?=$this->headTitle()?>
    <?=$this->headMeta()?>
    <?=$this->headLink()?>
    <?=$this->headStyle()?>
    <?=$this->headScript()?>
    <?=$this->headLink()->appendStylesheet('/assets/css/global.css')?>
  <?php echo $this->headStyle() ?>
</head>
<body class="tundra">
    <div id="main">
        <?php echo $this->layout()->content ?>
    </div>
</body>
</html>
