<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body class="tundra">
    <div id="main">
        <?php echo $this->layout()->content ?>
    </div>
</body>
</html>
