<?php
$this->redirect('create', array('module'=>'news', 'controller'=>'category', 'action'=>'update', 'params'=> array('id'=>'model')));?>
<?php echo $this->displayMessages()?>
<?php if ($this->error) : ?>
<div id="error">ERROR</div>
<?php else:?>
<div id="error">NO ERROR</div>
<?php endif;?>
<?php echo $this->form ?>
