<?php
$this->redirect('delete', array('module'=>'news', 'controller'=>'category', 'action'=>'index'));?>
<?php if ($this->error) : ?>
<div id="error">ERROR</div>
<?php else:?>
<div id="error">NO ERROR</div>
<?php endif;?>
<div id="category-title"><?php echo $this->category->getTitle();?></div>
