<h2>Categories</h2>
<?php if ($this->isAllowed('news', 'category', 'create')) :?>
<a href="<?php echo $this->url(array('module'=>'news','controller'=>'category','action'=>'create'))?>">Create Category</a>
<?php endif;?>
<ul>
<?php foreach ($this->categories as $category) : ?>
    <li>
        <?php if ($this->isAllowed('news', 'category', 'update')) :?><a href="<?php echo $this->url(array('module'=>'news', 'controller'=>'category','action'=>'update','id'=>$category->getId())) ?>">Edit</a><?php endif;?>
        <?php if ($this->isAllowed('news', 'category', 'delete')) :?><a href="<?php echo $this->url(array('module'=>'news', 'controller'=>'category','action'=>'delete','id'=>$category->getId()))?>">Delete</a><?php endif;?>
        <a href="<?php echo $this->url(array('module'=>'news','controller'=>'category','action'=>'read','id'=>$category->getId()))?>"><?php echo $category->getTitle() ?></a>
        </li>
<?php endforeach;?>
</ul>
