<div id="category-title"><?php echo $this->category->getTitle();?></div>
<?php if ($this->error) : ?>
<div id="error">ERROR</div>
<?php else:?>
<div id="error">NO ERROR</div>
<?php endif;?>
<?php echo $this->displayMessages() ?>
<?php echo $this->form?>
