<?php if ($this->isAllowed('company', 'type', 'create')) :?>
    <a href="<?php echo $this->url(array('module' => 'company', 'controller' => 'type', 'action' => 'create'), null, true)?>">Create Type</a>
<?php endif; ?>
<ul>
<?php foreach ($this->types as $type) : ?>
    <li>
<?php if ($this->isAllowed('company', 'type', 'update')) :?>
    <a href="<?php echo $this->url(array('module' => 'company', 'controller' => 'type', 'action' => 'update', 'id'=>$type->getId()), null, true)?>">Update</a>
<?php endif; ?>
<?php if ($this->isAllowed('company', 'type', 'delete')) :?>
    <a href="<?php echo $this->url(array('module' => 'company', 'controller' => 'type', 'action' => 'delete', 'id'=>$type->getId()), null, true)?>">Delete</a>
<?php endif; ?>

        <?php echo $type->getTitle() ?></li>
<?php endforeach; ?>
</ul>
