<?php if ($this->error) : ?>
<div id="error">ERROR</div>
<?php else:?>
<div id="error">NO ERROR</div>
<?php endif;?>
<div id="type-title"><?php echo $this->type->getTitle()?></div>
<?php echo $this->form?>