<?php
$this->redirect('delete', array('module'=>'game', 'controller'=>'genre', 'action'=>'index'));?>
<?php if ($this->error) : ?>
<div id="error">ERROR</div>
<?php else:?>
<div id="error">NO ERROR</div>
<?php endif;?>
<div id="genre-title"><?php echo $this->genre->getTitle();?></div>
