<?php if ($this->isAllowed('game', 'genre', 'create')) :?>
    <a href="<?php echo $this->url(array('module' => 'game', 'controller' => 'genre', 'action' => 'create'), null, true)?>">Create genre</a>
<?php endif; ?>
<ul>
<?php foreach ($this->genres as $genre) : ?>
    <li>
<?php if ($this->isAllowed('game', 'genre', 'update')) :?>
    <a href="<?php echo $this->url(array('module' => 'game', 'controller' => 'genre', 'action' => 'update', 'id'=>$genre->getId()), null, true)?>">Update</a>
<?php endif; ?>
<?php if ($this->isAllowed('game', 'genre', 'delete')) :?>
    <a href="<?php echo $this->url(array('module' => 'game', 'controller' => 'genre', 'action' => 'delete', 'id'=>$genre->getId()), null, true)?>">Delete</a>
<?php endif; ?>

        <?php echo $genre->getTitle() ?></li>
<?php endforeach; ?>
</ul>
