<div id="genre-title"><?php echo $this->genre->getTitle();?></div>
<?php if ($this->error) : ?>
<div id="error">ERROR</div>
<?php else:?>
<div id="error">NO ERROR</div>
<?php endif;?>
<?php echo $this->displayMessages()?>
<?php echo $this->form?>
