<?php echo $this->displayMessages() ?>
<?php if ($this->isAllowed('pricecheck','retailer','create')) : ?>
<p>
<a href="<?php echo $this->url(array('module'=> 'pricecheck', 'controller'=>'retailer', 'action'=>'create'))?>">Create Retailer</a>
</p>
<?php endif; ?>
<ul>
    <?php foreach ($this->retailers as $retailer) : ?>
    <li>
            <?php if ($this->isAllowed('pricecheck','index','update',array('id'=>$retailer->getId()))) : ?>
            <a href="<?php echo $this->url(array('module'=>'pricecheck','controller'=>'retailer','action'=>'update','id'=>$retailer->getId()))?>">Update</a>
            <?php endif;?>
            <?php if ($this->isAllowed('pricecheck','index','delete',array('id'=>$retailer->getId()))) : ?>
            <a href="<?php echo $this->url(array('module'=>'pricecheck','controller'=>'retailer','action'=>'delete','id'=>$retailer->getId()))?>">Delete</a>
            <?php endif;?>
            
            <?php echo $retailer->getTitle()?>
    </li>
    <?php endforeach;?>
</ul>