<div id="retailer-title"><?php echo $this->retailer->getTitle()?></div>
<div id="retailer-url"><?php echo $this->retailer->getUrl()?></div>
<div id="retailer-type"><?php echo $this->retailer->getType()?></div>
<div id="retailer-description"><?php echo $this->retailer->getDescription()?></div>
