<div id="retailer-title"><?php echo $this->retailer->getTitle()?></div>
<div id="retailer-url"><?php echo $this->retailer->getUrl()?></div>
<div id="retailer-type"><?php echo $this->retailer->getType()?></div>
<div id="retailer-description"><?php echo $this->retailer->getDescription()?></div>
<?php if ($this->error) : ?>
<div id="error">ERROR</div>
<?php else:?>
<div id="error">NO ERROR</div>
<?php endif;?>
<?php echo $this->displayMessages()?>
<?php echo $this->form?>
