<?php
$this->redirect('delete', array('module'=>'news', 'controller'=>'index', 'action'=>'index'));?>
<?php if ($this->error) : ?>
<div id="error">ERROR</div>
<?php else:?>
<div id="error">NO ERROR</div>
<?php endif;?>
<div id="news-title"><?php echo $this->article->getTitle();?></div>
