<div id="article-count"><?php echo $this->articles->getCurrentItemCount();?></div>
<?php foreach ($this->articles as $article) : ?>
<div id="article-<?php echo $article->getId()?>">
    <?php if ($article->getImage()) : ?>
        <div id="article-image-<?php echo $article->getId()?>"><img src="<?php echo $this->image($article->getImage(), null, array('width'=>65, 'height'=>102))?>"/></div>
    <?php endif;?>
    <div id="article-title-<?php echo $article->getId()?>"><?php echo $article->getTitle()?></div>
    <div id="article-strap-<?php echo $article->getId()?>"><?php echo $article->getStrap()?></div>
    <div id="article-order-<?php echo $article->getId()?>">order <?php echo $article->getOrder()?></div>
</div>
<?php endforeach; ?>
