<?php if ($this->isAllowed('news','index','create')) : ?>
<p>
<a href="<?php echo $this->url(array('module'=> 'page', 'controller'=>'index', 'action'=>'create'))?>">Create Page</a>
</p>
<?php endif; ?>
<ul>
<?php foreach ($this->pages as $page) : ?>
    <li>
<?php if ($this->isAllowed('page', 'index', 'update')) :?>
    <a href="<?php echo $this->url(array('module' => 'page', 'controller' => 'index', 'action' => 'update', 'id'=>$page->getId()), null, true)?>">Update</a>
<?php endif; ?>
<?php if ($this->isAllowed('page', 'index', 'delete')) :?>
    <a href="<?php echo $this->url(array('module' => 'page', 'controller' => 'index', 'action' => 'delete', 'id'=>$page->getId()), null, true)?>">Delete</a>
<?php endif; ?>
        <a href="<?php echo $this->url(array('module'=>'page','controller'=>'index','action'=>'read', 'url'=>$page->getUrl()))?>"><?php echo $page->getTitle() ?></a>,
        author: <?php echo $page->getUser()->getEmail(); ?>, 
        created: <?php echo date("d/m/Y H:i:s", $page->getCreatedate() ); ?>, 
        updated: <?php echo date("d/m/Y H:i:s", $page->getUpdatedate() ); ?>, 
    </li>
<?php endforeach; ?>
</ul>
