<?php if ($this->error) : ?>
<div id="error">ERROR</div>
<?php else:?>
<div id="error">NO ERROR</div>
<?php endif;?>
<div id="page-title"><?php echo $this->page->getTitle()?></div>
<div id="page-content"><?php echo $this->page->getContent()?></div>
<?php echo $this->form?>
