<?php
$this->redirect('delete', array('module'=>'game', 'controller'=>'platform', 'action'=>'index'));?>
<?php if ($this->error) : ?>
<div id="error">ERROR</div>
<?php else:?>
<div id="error">NO ERROR</div>
<?php endif;?>
<div id="platform-title"><?php echo $this->platform->getTitle();?></div>
