<?php if ($this->isAllowed('game', 'platform', 'create')) :?>
    <a href="<?php echo $this->url(array('module' => 'game', 'controller' => 'platform', 'action' => 'create'), null, true)?>">Create Platform</a>
<?php endif; ?>
<ul>
<?php foreach ($this->platforms as $platform) : ?>
    <li>
<?php if ($this->isAllowed('game', 'platform', 'update')) :?>
    <a href="<?php echo $this->url(array('module' => 'game', 'controller' => 'platform', 'action' => 'update', 'id'=>$platform->getId()), null, true)?>">Update</a>
<?php endif; ?>
<?php if ($this->isAllowed('game', 'platform', 'delete')) :?>
    <a href="<?php echo $this->url(array('module' => 'game', 'controller' => 'platform', 'action' => 'delete', 'id'=>$platform->getId()), null, true)?>">Delete</a>
<?php endif; ?>
        <a href="<?php echo $this->url(array('module'=>'game', 'controller'=>'platform','action'=>'read', 'id'=>$platform->getId()))?>"><?php echo $platform->getTitle() ?></a>
    </li>
<?php endforeach; ?>
</ul>
