<?php
// On successful creation redirect to the following address.
// id = model; Indicates to get the id out of the model object
$this->redirect('create', array('module'=>'pricecheck', 'controller'=>'index', 'action'=>'update', 'params'=> array('id'=>'model')));?>
<?php if ($this->error) : ?>
<div id="error">ERROR</div>
<?php else:?>
<div id="error">NO ERROR</div>
<?php endif;?>
<?php echo $this->displayMessages()?>
<?php echo $this->form?>
