<?php
$this->redirect('delete', array('module'=>'pricecheck', 'controller'=>'index', 'action'=>'index'));?>
<div id="pricecheck-location"><?php echo $this->pricecheck->getLocation() ?></div>
<?php
$retailers = $this->pricecheck->getRetailers();
$products = $this->pricecheck->getProducts();
?>
<?php foreach ($products as $product) : ?>
<div id="product-title-<?php echo $product->getId()?>"><?php echo $product->getTitle();?></div>
<?php endforeach; ?>
<?php foreach ($retailers as $retailer) :?>
    <div id="retailer-title-<?php echo $retailer->getId()?>"><?php echo $retailer->getTitle()?></div>
    <?php foreach ($products as $product) : ?>
        <?php $price = $this->pricecheck->getPrice($retailer->getId(), $product->getId());?>
        <div id="price-<?php echo $product->getId()?>-<?php echo $retailer->getId()?>"><?php if ($this->pricecheck->bestPrice($product->getId()) == $price) echo 'best '?><?php echo $price->getPrice();?></div>
    <?php endforeach; ?>
<?php endforeach; ?>
<?php if ($this->error) : ?>
<div id="error">ERROR</div>
<?php else:?>
<div id="error">NO ERROR</div>
<?php endif;?>
<?php echo $this->displayMessages()?>
