<ul>
<?php foreach ($this->pricechecks as $pricecheck) : ?>
    <li>
        <?php if ($this->isAllowed('pricecheck', 'index', 'update')) :?>
            <a href="<?php echo $this->url(array('module' => 'pricecheck', 'controller' => 'index', 'action' => 'update', 'id'=>$pricecheck->getId()), null, true)?>">Update</a>
        <?php endif; ?>
        <?php if ($this->isAllowed('pricecheck', 'index', 'delete')) :?>
            <a href="<?php echo $this->url(array('module' => 'pricecheck', 'controller' => 'index', 'action' => 'delete', 'id'=>$pricecheck->getId()), null, true)?>">Delete</a>
        <?php endif; ?>
        <a href="<?php echo $this->url(array('module'=>'pricecheck','controller'=>'index','action'=>'read','id'=>$pricecheck->getId()))?>"><?php echo date('r', $pricecheck->getDate())?></a>
    </li>
<?php endforeach; ?>
</ul>
