<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN";
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Gossip</title>
</head>
<body>
  <h1>An error occurred</h1>
  <h2><?php echo $this->message ?></h2>

  <?php if ('production' !== APPLICATION_ENV) : ?>

  <h3>Exception information:</h3>
  <p>
      <b>Message:</b> <?php echo $this->exception->getMessage() ?>
  </p>

  <h3>Stack trace:</h3>
  <pre><?php echo $this->exception->getTraceAsString() ?>
  </pre>

  <h3>Request Information</h3>
  <pre>
Time: <?php echo date("Y-m-d H:i:s\n")?>
Server IP: <?php echo $this->serverAddr."\n"?>
User agent: <?php echo $this->userAgent."\n"?>
Request Url: <?php echo $this->serverUrl($this->request->getRequestUri())."\n"?>
Parameters: <?php echo var_export($this->request->getParams(), 1)."\n" ?>
  </pre>

  <h3>Session</h3>
  <pre><?php echo var_export($this->session, true)?>
  </pre>

  <h3>Database</h3>
  <pre>
Last Query: <?php echo $this->query."\n"?>
Query Parameters: <?php echo var_export($this->queryParams, true);?>
  </pre>

  <?php endif ?>

</body>
</html>