<?php
$user = $this->record->getUser();
$item = $this->record->getItem();
if (null !== $user) {
    $url =  $this->url(array('module'=>'user','controller'=>'index','action'=>'read', 'id'=>$user->getId()));
    $who = "<a href=\"{$url}\">{$user->getAttribute('forename')} {$user->getAttribute('surname')}</a> ( <a href=\"{$url}\">link</a> )";
} else {
    $who = 'Guest';
}

if (null !== $item) {
    $url = $this->url(array('module'=>'news','controller'=>'index','action'=>'read','id'=>$item->getId()));
    $what = '<a href="'.$url.'">'.$item->getTitle().'</a> ( <a href="'.$url.'">link</a> )';
    $published = $item->isPublished();
} else {
    $url = '';
    $what = 'Article Deleted';
    $published = false;
}

//$url = $this->url(array('module'=>'user','controller'=>'index','action'=>'read','id'=>$item->getId()));
?>
<tr>
    <td><?php echo date("d M Y g:ia", $this->record->getDate()) ?></td>
    <td><?php echo $who;?></td>
    <td>News</td>
    <td><?php echo $this->record->getAction()?>: <?php echo $what;?></td>
    <td><?php echo ($published)?'Yes':'No'?></td>
    <td>Delete</td>
</tr>
