<?php
$user = $this->record->getUser();
if (null !== $user) {
    $url =  $this->url(array('module'=>'user','controller'=>'index','action'=>'read', 'id'=>$user->getId()));
    $who = "<a href=\"{$url}\">{$user->getAttribute('forename')} {$user->getAttribute('surname')}</a> ( <a href=\"{$url}\">link</a> )";
} else {
    $who = 'Guest';
}

$item = $this->record->getItem();
$url = $this->url(array('module'=>'user','controller'=>'index','action'=>'read','id'=>$item->getId()));
?>
<tr>
    <td><?php echo date("d M Y g:ia", $this->record->getDate()) ?></td>
    <td><?php echo $who;?></td>
    <td>User</td>
    <td><?php echo $this->record->getAction()?>: <a href="<?php echo $url?>"><?php echo $item->getAttribute('forename')?> <?php echo $item->getAttribute('surname')?></a> ( <a href="<?php echo $url?>">link</a> )</td>
    <td><?php echo ('guest' !== $item->getRole())?'Yes':'No'?></td>
    <td>Delete</td>
</tr>
