<?php
// On successful creation redirect to the following address.
// id = model; Indicates to get the id out of the model object
$this->redirect('create', array('module'=>'news', 'controller'=>'type', 'action'=>'update', 'params'=> array('id'=>'model')));?>
<?php echo $this->displayMessages()?>
<?php if ($this->error) : ?>
<div id="error">ERROR</div>
<?php else:?>
<div id="error">NO ERROR</div>
<?php endif;?>
<?php echo $this->form?>