<?php if ($this->isAllowed('news', 'type', 'create')) :?>
    <a href="<?php echo $this->url(array('module' => 'news', 'controller' => 'type', 'action' => 'create'), null, true)?>">Create Type</a>
<?php endif; ?>
<ul>
<?php foreach ($this->types as $type) : ?>
    <li>
<?php if ($this->isAllowed('news', 'type', 'update')) :?>
    <a href="<?php echo $this->url(array('module' => 'news', 'controller' => 'type', 'action' => 'update', 'id'=>$type->getId()), null, true)?>">Update</a>
<?php endif; ?>
<?php if ($this->isAllowed('news', 'type', 'delete')) :?>
    <a href="<?php echo $this->url(array('module' => 'news', 'controller' => 'type', 'action' => 'delete', 'id'=>$type->getId()), null, true)?>">Delete</a>
<?php endif; ?>

        <a href="<?php echo $this->url(array('module'=>'news', 'controller'=>'type', 'action'=>'read', 'id'=>$type->getId()))?>"><?php echo $type->getTitle() ?></a></li>
<?php endforeach; ?>
</ul>
