<?php echo "<?xml version=\"1.0\" ?>\n"?>
<rss version="2.0">
<channel>
    <title>Gossip</title>
    <link><?php echo $this->serverUrl()?></link>
    <description>
        The McCormack &amp; Morrison CMS system
    </description>
    <copyright>Copyright <?php echo date("Y")?> McCormack &amp; Morrison</copyright>
<?php $articles = $this->type->getArticles()?>
<?php foreach ($articles as $article) :?>
    <item>
        <guid><?php echo $article->getId()?></guid>
        <title><?php echo $article->getTitle()?></title>
        <link><?php echo $this->serverUrl($this->url(array('module'=>'news','controller'=>'index','action'=>'read','url'=>$article->getUrl()), null, true))?></link>
        <description><?php echo $this->escape($article->getIntro())?></description>
        <pubDate><?php echo date("r", $article->getPublishdate())?></pubDate>
        <category domain="<?php echo $this->serverUrl($this->url(array('module'=>'news','controller'=>'category','action'=>'read', 'id'=>$article->getCategory()->getId()), null, true))?>"><?php echo $this->escape($article->getCategory()->getTitle())?></category>
    </item>
<?php endforeach; ?>
</channel>
</rss>
