<h3><?php echo date('r', $this->chart->getDate())?></h3>
<?php if ($this->isAllowed('chart','index','update', array('id'=>$this->chart->getId()))) : ?>
    <a href="<?php echo $this->url(array('module'=>'chart', 'controller'=>'index', 'action'=>'update', 'id'=>$this->chart->getId()))?>">Edit</a>
<?php endif?>
<?php if ($this->isAllowed('chart','index','delete', array('id'=>$this->chart->getId()))) : ?>
    <a href="<?php echo $this->url(array('module'=>'chart', 'controller'=>'index', 'action'=>'delete', 'id'=>$this->chart->getId()))?>">Delete</a>
<?php endif?>

<table>
    <tr>
        <th>Position</th>
        <th>Previous</th>
        <th>Title</th>
        <th>Publisher</th>
    </tr>
<?php foreach ($this->chart->getEntries() as $entry) :?>
    <tr>
        <td><?php echo $entry->getPosition()?></td>
        <td><?php echo $entry->getPrevPosition()?$entry->getPrevPosition():'N/A'?></td>
        <td><a href="<?php echo $this->url(array('module'=>'game','controller'=>'index','action'=>'read','id'=>$entry->getGame()->getId()))?>"><?php echo $entry->getGame()->getTitle()?></a></td>
        <td><a href="<?php echo $this->url(array('module'=>'company','controller'=>'index','action'=>'read','id'=>$entry->getGame()->getPublisher()->getId()))?>"><?php echo $entry->getGame()->getPublisher()->getTitle()?></a></td>
    </tr>
<?php endforeach?>
</table>
