<div id="messages">
    <?php foreach ($this->messages as $level=>$messages) :?>
        <?php foreach ($messages as $message) : ?>
            <div class="message-<?php echo $level;?>"><?php echo $message?></div>
        <?php endforeach; ?>
    <?php endforeach; ?>
</div>