<b><?php echo $this->pricecheck->getLocation() ?></b>
<?php if ($this->isAllowed('pricecheck', 'index', 'update')) :?>
    <a href="<?php echo $this->url(array('module' => 'pricecheck', 'controller' => 'index', 'action' => 'update', 'id'=>$this->pricecheck->getId()), null, true)?>">Update</a>
<?php endif; ?>
<?php if ($this->isAllowed('pricecheck', 'index', 'delete')) :?>
    <a href="<?php echo $this->url(array('module' => 'pricecheck', 'controller' => 'index', 'action' => 'delete', 'id'=>$this->pricecheck->getId()), null, true)?>">Delete</a>
<?php endif; ?>


<?php echo date('r',$this->pricecheck->getDate()) ?>

<?php
$retailers = $this->pricecheck->getRetailers();
$products = $this->pricecheck->getProducts();
?>
<table border="1">
    <tr><td>&nbsp;</td>
        <?php foreach ($products as $product) : ?>
        <th>
            <?php echo $product->getTitle();?>
        </th>
        <?php endforeach; ?>
    </tr>

    <?php foreach ($retailers as $retailer) :?>
    <tr>
        <th><?php echo $retailer->getTitle()?></th>
        <?php foreach ($products as $product) : ?>
            <?php $price = $this->pricecheck->getPrice($retailer->getId(), $product->getId());?>
            <td <?php if ($this->pricecheck->bestPrice($product->getId()) == $price) echo 'bgcolor="yellow"'?>>
                &pound;<?php echo $price->getPrice();?>
            </td>
        <?php endforeach; ?>
    </tr>
    <?php endforeach; ?>
</table>
