<h1>System Caches</h1>
<form method="post">
    <input type="submit" value="Clear Caches">
<?php echo $this->displayMessages();?>
<?php foreach ($this->caches as $cachename=>$cache) : ?>
    <div style="float:left; padding:10px;">
    <h2><?php echo ucfirst($cachename);?> Cache</h2>
    <?php if (isset($cache['backend'])): ?>
    <table border="1">
        <tr><td></td><td><input id="<?php echo $cachename?>-clear" type="checkbox" name="clear[]" value="<?php echo $cachename?>"> <label for="<?php echo $cachename?>-clear">Clear Cache?</label></td></tr>
        <tr><th>Cache Type:</th><td><?php echo $cache['backend']['name']?></td></tr>
        <tr valign="top"><th>Cache Status:</th><td>
                <?php foreach ($cache['status'] as $name=>$value): ?>
                <?php echo $name?>:             <?php
                if (is_array($value)) {
                    echo '<ul>';
                    foreach ($value as $item) {
                        echo "<li>{$item}</li>";
                    }
                    echo '</ul>';
                } else {
                    echo $value;
                }?><br/>
                <?php endforeach;?>
            </td></tr>
    </table>
    <?php else: ?>
    <b>Not configured</b>
    <?php endif;?>
    </div>
<?php endforeach;?>
</form>