<h2>System Check</h2>
<p>
    This is a system check. It can be used to ensure the system has been set up correctly. This page will
    alert you to any PHP Extensions that you do not have installed, or PHP Settings that are incorrectly
    set.
</p>
<p>
    The Next Step will display PHP Errors which can be used to ensure that errors are being correctly
    displayed for a production environment.
</p>
<p>
    <a href="<?php echo $this->url(array('module'=>'default','controller'=>'system','action'=>'error'))?>">Next Step &gt;&gt;</a>
</p>
<h3>PHP Extensions</h3>
<table>
<?php foreach ($this->extensions as $name => $check) :?>
    <tr>
        <td bgcolor="<?php echo $check['loaded']?'green':($check['required']?'red':'yellow')?>">&nbsp;</td>
        <td><?php echo $name?></td>
        <td><i><?php echo $check['loaded']?'':$check['message']?></i></td>
    </tr>
<?php endforeach;?>
</table>

<h3>PHP Settings</h3>
<table>
    <?php foreach ($this->settings as $name=>$check) : ?>
    <tr>
        <td bgcolor="<?php echo $check['pass']?'green':($check['required']?'red':'yellow')?>">&nbsp;</td>
        <td><?php echo $name?></td>
        <td><?php echo $check['value']?></td>
        <td><i><?php echo $check['pass']?'':$check['message']?></i></td>
    </tr>
    <?php endforeach;?>
</table>