<h2>Error Test Page</h2>
<p>
    This is an error test page. Use it to ensure that errors are being displayed correctly for the environment. Errors must <b>never</b> be displayed
    on a production site.
</p>
<p>
    This page generates an E_STRICT, E_NOTICE, E_WARN, and E_ERROR page.
</p>
<p>
    The Next Step will display an Application Exception page. Please use it to ensure that no System information is being reported to the user
    on a production site.
</p>
<p>
    <a href="<?php echo $this->url(array('module'=>'default','controller'=>'system','action'=>'exception'))?>">Next Step &gt;&gt;</a>
</p>
<h3>Errors</h3>
