<h2>System Manager</h2>
<ul>
    <li><a href="<?php echo $this->url(array('module'=>'default','controller'=>'system','action'=>'cache'))?>">Cache Manager</a></li>
    <li><a href="<?php echo $this->url(array('module'=>'default','controller'=>'system','action'=>'check'))?>">System Check</a></li>
</ul>
