		<form method="post">
			<input type="hidden" name="accessToken" value="<?php echo $this->request()->getParam('accessToken') ?>">
		<?php echo $this->displayMessages();?>

		<table>
			<tr>
				<th width="1%"></th>
				<th>Cache</th>
				<th>Type</th>
				<th>Status</th>
			</tr>
		<?php foreach ($this->caches as $cachename=>$cache){ ?>
			<tr>
				<td><input id="<?php echo $cachename?>-clear" type="checkbox" name="clear[]" value="<?php echo $cachename?>"></td>
				<td class="name"><?php echo $cachename ?></td>
			<?php if (isset($cache['backend'])){ ?>
				<td class="type"><?php echo $cache['backend']['name']?></td>
				<td>
						<?php foreach ($cache['status'] as $name=>$value){ ?>
						<?php echo $name?>:
						<?php
						if (is_array($value)) {
							echo '<ul>';
							foreach ($value as $item) {
								echo "<li>{$item}</li>";
							}
							echo '</ul>';
						} else {
							echo $value;
						}?><br/>
						<?php } ?>
					</td>
				<?php }else{ ?>
					<td colspan="2">N/A</td>
				<?php } ?>
				</tr>
		<?php } ?>
			</table>
			<div id="button">
				<button type="submit">Clear Selected Caches</button>
			</div>
		</form>
