<?php 
	$this->layout()->disableLayout();
?>
<html>
	<head>
		<title>Cache Manager</title>
		<style type="text/css">
			body{
				font-family: Courier New;
			}
			table{
				width: 100%;
				border-spacing: 0;
				border-collapse: collapse;
				font-size: 0.7em;
			}
			table td, table th{
				border: 1px solid #000;
				padding: 3px;
				vertical-align: top;
			}
			table th{
				background: #eee;
			}
			table td.name{
				text-transform: uppercase;
				text-align: center;
			}
			table td.type{
				text-align: center;
			}
			#button{
				background: #eee;
				padding: 3px;
				text-align: center;
			}
			.message-info{
				font-weight: bold;
				color: #090;
				padding-bottom: 5px;
			}
		</style>
	</head>
	<body>

