<?php echo $this->user->getEmail() ?>
<p>
Please confirm your email address. Follow this link
</p>
<p>
    <a href="<?php echo $this->serverUrl()?><?php echo $this->url(array('action'=>'confirm', 'token' => $this->token, 'id' => $this->user->getId()))?>">Confirm</a>
</p>
