<?php echo $this->user->getEmail() ?>
<p>
Please confirm you want your password reset. Follow this link
</p>
<p>
    <a href="http://<?php echo $this->serverUrl()?><?php echo $this->url(array('action'=>'password', 'token' => $this->token, 'id' => $this->user->getId()))?>">Confirm</a>
</p>
